body {
  background-color: skyblue;
}
.horse {     /*if .horse reaches #goal, return its position back to origin*/
  float: right;
  left: 150px;
  width:200px;
  height:200px;
  background-color: brown;
  border-radius:150px;
  cursor:pointer;
}
#goal {   /*the rabit*/
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
.notice {
  width:150px;
  height:150px;
  margin: 0 auto;
  text-align: center;
  font-size: 2.0em;
  font-style: oblique;
}
img {
  transition: all 3s;
  transition-timing-function: linear;
}
h1, .interface {
  text-align: center;
}
.charBox {
  margin-bottom: -150px;
}
.eventArea {            /*green field area*/
  margin-top: 50px;
  width: 100%;
  height: 200px;
  border: 1px solid black;
  background-image: url(../img/field.jpeg);
}
#currentTotal {       /*green area, #of clicks */
  margin: 100px auto 0 auto;
  margin-top: 100px;
  width:350px;
  height:100px;
  border:1px solid black;
  border-radius: 50px;
  padding-top: 45px;
  text-align: center;
  font-size: 48px;
  background-color: lightgreen;
}
#buttons {
  margin-top: 50px;
}
.clicks {              /*option bars when enough clicked*/
  display: flex;
  background-color: beige;
}
.button {         /*option bars when player has enough clicks*/
  margin: 0 auto;
  padding: 0 10px;
  width:250px;
  height:80px;
  border-style: outset;
  cursor:pointer;
  background-color:lightpink;
}
.adjust {          /*adjusting option pictures sizes*/
  width: 100px;
  height: 50px;
  margin-top: 15px;
}
