/* top bars */
nav {
  display: flex;
  border: 1px solid gray;
  background-color: #AED6F1;
  height: 80px;
  justify-content: space-around;
  align-items: center;
}
.logo a img{
  width: 150px;
  height: 70px;
}
/* links to go down of a page */
.bar {
  display: flex;
  padding: 55px 25px;
}
.bar a {
  color: black;
  text-decoration: none;
  border: 5px solid darkgray;
  border-style:inset;
  padding: 15px 35px;
}
.bar a:hover {
  background-color: lightgreen;
}
/* intro page */
main {
  display: flex;
  height: 550px;
  background-image:url(../img/background.jpeg);
  justify-content: center;
  align-items: center;
}
.intro h1 {
  text-align: center;
  font-size: 3.5em;
  font-family: 'Oswald', sans-serif;
  color: white;
}
/* link to down of a page */
.bars {
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
  background-color: skyblue;
  border-radius: 15px;
}
.bars a {
  text-decoration: none;
}
.bars a h4:hover {
  background-color: lightpink;
}
.bars a h4 {
  font-size: 1.2em;
  color: white;
  padding: 10px;
  border-radius: 10px;
  background-color: skyblue;
}
/* phone case images organized by phone models */
.container {
  display: grid;
  padding: 50px;
  background-color: beige;
  grid-auto-rows: 600px;
  grid-gap: 4.5em;
  grid-template-areas:
    "box1"
    "box2"
    "box3";
}
.container .box1 div, .container .box2 div,
.container .box3 div{
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
}
.box1{
  grid-area: box1;
  display: grid;
  grid-template-columns: 2.5fr 4fr;
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 2em;
  grid-template-areas:
    "i1 i2"
    "i1 i3";
}
.i1{
  grid-area: i1;
}
.i2{
  grid-area: i2;
  display: flex;
}
.i3{
  grid-area: i3;
  display: flex;
}
.box2{
  grid-area: box2;
  display: grid;
  grid-template-columns: 2.5fr 4fr;
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 2em;
  grid-template-areas:
    "g1 g2"
    "g1 g3";
}
.g1{
  grid-area: g1;
}
.g2{
  grid-area: g2;
  display: flex;
}
.g3{
  grid-area: g3;
  display: flex;
}
.box3 {
  grid-area: box3;
  display: grid;
  grid-template-columns: 2.5fr 4fr;
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 2em;
  grid-template-areas:
    "p1 p2"
    "p1 p3";
}
.p1{
  grid-area: p1;
}
.p2{
  grid-area: p2;
  display: flex;
}
.p3{
  grid-area: p3;
  display: flex;
}
/* size adjustments for phone imgs */
.size {
  width: 500px;
  height: 550px;
  margin: 0 auto;
}
/* size adjustments for cases */
.adj {
  margin: auto 0;
}
/* down the bottom of page seesaw code */
/* just for fun */
.bot-container {
  height: 550px;
  display: flex;
  background-color: lightgreen;
  justify-content: center;
  align-items: center;
}
.seesaw {
  display: grid;
  grid-auto-rows: (100px, auto);
  margin: 0 auto;
  height: 200px;
  grid-template-areas:
    "obj"
    "swing"
    "lever";
}
.obj{
  display: flex;
  justify-content: space-between;
}
.obj1 {
  width: 80px;
  height: 80px;
  border: 1px solid black;
  transition: transform 500ms ease-in-out;
  pointer-events:none;
}
.obj2 {
  width: 80px;
  height: 80px;
  border: 1px solid black;
  transition: transform 500ms ease-in-out;
  pointer-events:none;
}
/* seesaw materials below */
.swing {
  width: 500px;
  height: 50px;
  background-color: #F5CBA7;
  transition: transform 500ms ease-in-out;
  pointer-events: none;
}
.lever {
  margin: 0 auto;
}
.tri {
  margin-top: -60px;
  width: 0;
  height: 0;
  border: solid 60px;
  border-color: transparent transparent orange transparent;
}
/*moves all together*/
.seesaw:hover .obj1 {
  transform: translate(0, 55px)
  rotate(-15deg);
}
.seesaw:hover .obj2 {
  transform: translate(-30px, -50px)
  rotate(-15deg);
}
.seesaw:hover .swing{
  transform: rotate(-15deg);
}
/* copyright */
footer h1 {
  text-align: right;
  background-color: yellow;
}
/* media queries */
/* desktop view */
/* grid box for cases' format changed */
@media (max-width: 992px){
  .i2, .i3, .g2, .g3, .p2, .p3 {
    display: grid;
  }
  .i1, .size {
    width: 400px;
    margin: 0 auto;
  }
  .g1, .size {
    width: 400px;
    margin: 0 auto;
  }
  .p1, .size {
    width: 400px;
    margin: 0 auto;
  }
  .container {
    background-color: lightsalmon;
    padding: 50px 5px;
  }
  .container .box1 {
    grid-template-columns: 3fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
      "i1 i2 i3";
  }
  .box1 .i2 img, .i3 img{
    height: 183px;
  }
  .container .box2 {
    grid-template-columns: 3fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
      "g1 g2 g3";
  }
  .box2 .g2 img, .g3 img{
    height: 183px;
  }
  .container .box3 {
    grid-template-columns: 3fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
      "p1 p2 p3";
  }
  .box3 .p2 img, .p3 img{
    height: 183px;
  }
}
/* mobile view */
/* top right nav bar gone */
/* now cases shown below the phone types */
@media (max-width: 576px) {
  .size, .adj {
    margin: 0;
  }
  .size {
    width: 300px;
  }
  .logo a img{
    width: 120px;
  }
  .bar {
    display: none;
  }
  .container {
    display: block;
    margin: 0;
    padding: 40px 0;
    background-color: lightpink;
  }
  .container .box1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }
  .box1 .i1, .box2 .g1, .box3 .p1{
    margin-bottom: 15px;
  }
  .container .box2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }
  .container .box3{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .box1 .i2 img, .i3 img{
    width: 130px;
  }
  .box2 .g2 img, .g3 img{
    width: 130px;
  }
  .box3 .p2 img, .p3 img{
    width: 130px;
  }
  .container .box1 div, .box2 div, .box3 div{
    display: flex;
  }
}
