nav {
  display: flex;
  border: 1px solid gray;
  background-color: #41F5AE;
  height: 80px;
  justify-content: space-around;
  align-items: center;
}
.logo a {

}
.bar {
  display: flex;
  padding: 15px 25px;
}
.bar a {
  color: black;
  text-decoration: none;
  border: 1px solid gray;
  padding: 15px 25px;
}
main {
  display: flex;
  height: 550px;
  background-image:url(../img/background.jpeg);
  justify-content: center;
  align-items: center;
}
.intro h1 {
  text-align: center;
  font-size: 3.5em;
  font-family: 'Oswald', sans-serif;
  color: white;
}
.bars {
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
}
.bars a {
  text-decoration: none;
}
.bars a h4:hover {
  background-color: lightpink;
}
.bars a h4 {
  font-size: 1.2em;
  color: white;
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: skyblue;
}
.container {
  display: grid;
  padding: 50px;
  background-color: beige;
  grid-auto-rows: 600px;
  grid-gap: 4.5em;
  grid-template-areas:
    "box1"
    "box2"
    "box3";
}
.container div {
  border: 1px solid black;
}
.container .box1 div, .container .box2 div,
.container .box3 div{
  background-color: white;
}
.box1{
  grid-area: box1;
  display: grid;
  grid-template-columns: 2.5fr 4fr;
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 2em;
  grid-template-areas:
    "i1 i2"
    "i1 i3";
}
.i1{
  grid-area: i1;
}
.i2{
  grid-area: i2;
}
.i3{
  grid-area: i3;
}
.box2{
  grid-area: box2;
  display: grid;
  grid-template-columns: 2.5fr 4fr;
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 2em;
  grid-template-areas:
    "g1 g2"
    "g1 g3";
}
.g1{
  grid-area: g1;
}
.g2{
  grid-area: g2;
}
.g3{
  grid-area: g3;
}
.box3 {
  grid-area: box3;
  display: grid;
  grid-template-columns: 2.5fr 4fr;
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 2em;
  grid-template-areas:
    "p1 p2"
    "p1 p3";
}
.p1{
  grid-area: p1;
}
.p2{
  grid-area: p2;
}
.p3{
  grid-area: p3;
}
.size {
  width: 450px;
  height: 550px;
}
.bot-container {
  height: 550px;
  display: flex;
  background-color: lightgreen;
  justify-content: center;
  align-items: center;
}
.seesaw {
  display: grid;
  grid-auto-rows: (100px, auto);
  margin: 0 auto;
  height: 200px;
  grid-template-areas:
    "obj"
    "swing"
    "lever";
}
.obj{
  display: flex;
  justify-content: space-between;
}
.obj1 {
  width: 80px;
  height: 80px;
  border: 1px solid black;
  transition: transform 500ms ease-in-out;
  pointer-events:none;
}
.obj2 {
  width: 80px;
  height: 80px;
  border: 1px solid black;
  transition: transform 500ms ease-in-out;
  pointer-events:none;
}
.swing {
  width: 500px;
  height: 50px;
  background-color: #F5CBA7;
  transition: transform 500ms ease-in-out;
  pointer-events: none;
}
.lever {
  margin: 0 auto;

}
.tri {
  margin-top: -60px;
  width: 0;
  height: 0;
  border: solid 60px;
  border-color: transparent transparent orange transparent;
}
.seesaw:hover .obj1 {
  transform: translate(0, 55px)
  rotate(-15deg);
}
.seesaw:hover .obj2 {
  transform: translate(-30px, -50px)
  rotate(-15deg);
}
.seesaw:hover .swing{
  transform: rotate(-15deg);
}
